<web-app>
    <servlet>
        <servlet-name>AddRental</servlet-name>
        <servlet-class>com.example.servlet.AddRentalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRental</servlet-name>
        <url-pattern>/addRental</url-pattern>
    </servlet-mapping>
</web-app>
